*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
    background-image: url(../images/negative.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
    
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  h1{
    position: relative;
    font-style: oblique;
    color: rgb(18, 142, 18);
  }

  .button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #0d0c0c;
    border-radius: 8px;
    background: #413c3c;
    background: -webkit-gradient(linear, left top, left bottom, from(#413c3c), to(#0d0c0c));
    background: -moz-linear-gradient(top, #413c3c, #0d0c0c);
    background: linear-gradient(to bottom, #413c3c, #0d0c0c);
    -webkit-box-shadow: #100e0e 0px 0px 40px 0px;
    -moz-box-shadow: #100e0e 0px 0px 40px 0px;
    box-shadow: #100e0e 0px 0px 40px 0px;
    text-shadow: #070606 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: #4e4848;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e4848), to(#100e0e));
    background: -moz-linear-gradient(top, #4e4848, #100e0e);
    background: linear-gradient(to bottom, #4e4848, #100e0e);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #0d0c0c;
    background: -webkit-gradient(linear, left top, left bottom, from(#0d0c0c), to(#0d0c0c));
    background: -moz-linear-gradient(top, #0d0c0c, #0d0c0c);
    background: linear-gradient(to bottom, #0d0c0c, #0d0c0c);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAfklEQVRIie3UMQrCQBBG4Y8gwSLseVJ7huCFPEZI6SXSiHgju3Q2EUUkzWaC4L5mimXmMfPDUij8Ai0OkYIBE7ooQcItWtK8SY5RkoSrj012c21xQpUp2aPGGXeMT0E1P+QK6sz+RRIugsJuvO6/eshfw12TPnI4G3wVhX/nAU3IFKXjkN85AAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  