<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static',filename='stylesheets/styles.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor</title>
</head>
<body>

    <form action="{{url_for('predict')}}" method="post">
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CHECK</span>
                  <span>YOUR HEART</span>
                  <span>HEALTH</span>
                </div>
                
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <div class="app-form-group">
                    <input class="app-form-control" type = "text" name = "Pregnancies"  placeholder = "Pregnancies">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" type = "text" name = "Glucose" placeholder = "Glucose">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" type = "text" name = "BloodPressure" placeholder = "Blood Pressure">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" type = "text" name = "Skin Thickness" placeholder = "Skin Thickness">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" type = "text" name = "Insulin" placeholder = "Insulin">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" type = "text" name = "BMI" placeholder = "BMI">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" type = "text" name = "DiabetesPedigreeFunction"  placeholder = "Diabetes Pedi. Function">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" type = "text" name = "Age" placeholder = "Age">
                  </div>
                  <div class="app-form-group buttons">
                    <button class="app-form-button" type="submit">CHECK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </form>
</body>
</html>